/* 
    Created on : 20/11/2016, 20:49:40
    Author     : Francisco Alves
*/

/*--------------------x-dark--------------------------------------*/
.x-dark{
    color: #e0f2f1;
    /*border: 1px solid #b9c5ce;*/
    border-radius: 0px;
    /*font-size: 10px;*/
    /*font: normal 12px/150% Arial, Helvetica, sans-serif;*/
    /*box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);*/
}
/* alinhamento do titulo*/
.x-dark .xGrid-title .xGrid-col span{
    text-align: center;
}

/* color titulo */
.x-dark .xGrid-title{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;     
    border-bottom: 1px solid #00897b;
    color: #80cbc4;    
    /*font-weight: bold;*/
    background:#00695c;
    height: 24px;
    font-size: 10px;
}
/* borda do titulo*/
.x-dark .xGrid-title .xGrid-col{
    border-right: 1px solid #00796b;
}

.x-dark .xGrid-content{
    /*    border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;*/
    /*background: linear-gradient(45deg, #49a09d, #5f2c82);*/
    /*opacity: 0.5;*/
    background: #00796b;

}
.x-dark .xGrid-content .xGrid-col{
    border-right: 1px solid #00897b;
}
.x-dark .xGrid-content .xGrid-row{
    border-bottom: 1px solid #00897b;
    /*background-color: #ffffff;*/
    height: 30px;
    /*font-weight: bold;*/
}
.x-dark .xGrid-content .xGrid-row:nth-child(odd){
    /*background-color: #455a69;*/
}

.x-dark .xGrid-Selected{
    /*background: #2c8ac4 !important;*/
    /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0086C9), color-stop(1, #006CA1) );*/
    background-color:#004d40;
    /*background-color: rgba(255,255,255,0.2);*/
    /*color:#ffffff !important;*/
    outline: 0;
}

.x-dark .xGrid-SelectedFocusOut{
    background: #00695c !important;
}

/*****scrollbar*****/

.x-dark .xGrid-content::-webkit-scrollbar {
    width: 13px;
}

.x-dark .xGrid-main .xGrid-title{
    padding-right: 13px;
}

/* Cor do indicador de rolagem */
.x-dark .xGrid-content::-webkit-scrollbar-thumb:vertical,
.x-dark .xGrid-content::-webkit-scrollbar-thumb:horizontal {
    background: #00695c;
    border: 1px solid #00695c;
    /*border-radius: 5px;*/
}

/* Cor do indicador de rolagem - ao passar o mouse */
.x-dark .xGrid-content::-webkit-scrollbar-thumb:vertical:hover,
.x-dark .xGrid-content::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #00796b
}


/*----------------frame buttons------------------------------*/

.x-teal{
    border: 1px solid #004d40;
    background: #00695c;
    color: #ffffff;    
}

.x-teal:focus{
    border: 1px solid #333333;
}

.x-teal:hover:not(:disabled){
    background: #004d40;
}

.x-teal:active:not(:disabled){
    background: #00796b;
    border: 1px solid #00695c;
    color: #e0f2f1;  
}

.x-teal,
.x-teal:link,
.x-teal:visited{
    text-decoration: none;
    color: #fbfbfb;
}
