.xGrid-row {
  margin-left: auto;
  margin-right: auto;
}
.xGrid-row:after {
  content: "";
  display: table;
  clear: both;
}
.xGrid-row .xGrid-col {
  float: left;
  box-sizing: border-box;
  padding: 4px 4px;
  min-height: 1px;
  margin-left: auto;
  left: auto;
  right: auto;
  -webkit-user-select:none;
}

.xGrid-main{
  width: 100%;
  position: relative;

  /*sombra boa*/
  /*box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 1px 1px rgba(0,0,0,.2),0 2px 2px rgba(0,0,0,.2);*/


  /*tema*/
  /*   color: #484848;
     border: 1px solid #8e8e97;
     border-radius: 5px;
     font-size: 13px;
     font-weight: bold;
     font-family: Verdana,Arial,sans-serif;*/
}

.xGrid-main .xGrid-title .xGrid-col span{
  /*   text-align: center;*/
  width: 100%;
}
.xGrid-main .xGrid-title{
  padding-right: 17px;

  /*tema*/
  /*   border-top-left-radius: 5px;
     border-top-right-radius: 5px;     
     border-bottom: 1px solid #8e8e97;
     --------
     color: #484848;        
     background: #ffffff;
     background: -moz-linear-gradient(top, #ffffff 0%, #efeff1 1%, #ededf0 4%, #d2d2d8 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(1%,#efeff1), color-stop(4%,#ededf0), color-stop(100%,#d2d2d8));
     background: -webkit-linear-gradient(top, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
     background: -o-linear-gradient(top, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
     background: -ms-linear-gradient(top, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
     background: linear-gradient(top, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);*/
}
.xGrid-main .xGrid-title .xGrid-col{
  white-space: nowrap;
  overflow:hidden;
  display: flex;
  align-items: center;

  /*border-right: 1px solid #8e8e97;*/
}
.xGrid-main .xGrid-title .xGrid-col:last-child{
  border-right: none;
}

.xGrid-main .xGrid-content{
  /*overflow-x: hidden;*/
  overflow-y:scroll;
  /*overflow:hidden;*/
  /*height: 150px;*/
  height: 100%;
  /*   border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     background: #f8f8f8;*/
}
.xGrid-main .xGrid-content .xGrid-col{
  /*border-right: 1px solid #8e8e97;*/
  height: 100%;
  padding-left: 5px;
  white-space: nowrap;
  overflow:hidden;
  display: flex;
  align-items: center;
}
.xGrid-load{
  /*    background-color:rgba(0, 0, 0, 0.8);
      width: 30%;
      height: 25px;
      border-radius: 5px;
      color: #ffffff;
      position: absolute;
      text-align: center;
      padding: 20px;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -100%);*/
  /*   // margin-left: 50%;
     // margin-top: 9%;
     // transform: translate(-61%, -37%);*/



  background-color:rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  height: 25px;
  width: 140px;
  position: absolute;
  z-index: 10;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  padding-top:8px;
}

.xGrid-load-search{
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.29);
  background-color: rgba(8, 8, 8, 0.52);
  bottom: -1px;
  color: #ffffff;
  height: 14px;
  left: 50%;
  padding-top: 2px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 140px;
  z-index: 10;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}



.xGrid-disable{
  opacity: 0.50;
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  border-radius: 4px;
}

/*****scrollbar*****/

.x-gray .xGrid-content::-webkit-scrollbar {
  width: 17px;
}

/* Cor do indicador de rolagem */
.x-gray .xGrid-content::-webkit-scrollbar-thumb:vertical,
.x-gray .xGrid-content::-webkit-scrollbar-thumb:horizontal {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #efeff1 1%, #ededf0 4%, #d2d2d8 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(1%,#efeff1), color-stop(4%,#ededf0), color-stop(100%,#d2d2d8));
  background: -webkit-linear-gradient(left, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
  background: -o-linear-gradient(left, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
  background: -ms-linear-gradient(left, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
  background: linear-gradient(left, #ffffff 0%,#efeff1 1%,#ededf0 4%,#d2d2d8 100%);
  border: 1px solid #8e8e97;
  border-radius: 5px;
}

/* Cor do indicador de rolagem - ao passar o mouse */
.x-gray .xGrid-content::-webkit-scrollbar-thumb:vertical:hover,
.x-gray .xGrid-content::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #717171
}


/*--------------------temas--------------------------------------------*/


.xGrid-SelectedFocusOut{
  background: rgba(50, 177, 220, 0.26)!important;
  outline: 0;
}





/* theme x-gray --------------------------------------------------------*/
/*div principal*/
.x-gray{
  color: #484848;
  border: 1px solid #8e8e97;
  border-radius: 5px;
  font-size: 10px;
  font-family: Verdana,Arial,sans-serif;
}
/* alinhamento do titulo*/
.x-gray .xGrid-title .xGrid-col span{
  text-align: center;
}

/* color titulo */
.x-gray .xGrid-title{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;     
  border-bottom: 1px solid #8e8e97;
  color: #484848;        
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(1%,#efeff1), color-stop(4%,#ededf0), color-stop(100%,#d2d2d8));
}
/* borda do titulo*/
.x-gray .xGrid-title .xGrid-col{
  border-right: 1px solid #8e8e97;
}

.x-gray .xGrid-content{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f8f8f8;
}
.x-gray .xGrid-content .xGrid-col{
  border-right: 1px solid #8e8e97;
}
.x-gray .xGrid-content .xGrid-row{
  border-bottom: 1px solid #8e8e97;
  background-color: #ffffff;
  height: 25px;
  font-weight: bold;
}
.x-gray .xGrid-content .xGrid-row:nth-child(odd){
  background-color: #EEEEEE;
}

.x-gray .xGrid-Selected{
  background: #058cf5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#058cf5), color-stop(19%,#0385f3), color-stop(72%,#0167e9), color-stop(100%,#015de6));
  border-color:#014ab8;
  color:#ffffff !important;
  outline: 0;
}
/*------------------------------------------------------------*/


/*--------------------x-blue---------------------------------------*/
.x-blue{
  color: #00557F;
  border: 1px solid #006699;
  border-radius: 3px;
  /*font-size: 10px;*/
  font: normal 12px/150% Arial, Helvetica, sans-serif;
}
/* alinhamento do titulo*/
.x-blue .xGrid-title .xGrid-col span{
  text-align: center;
}

/* color titulo */
.x-blue .xGrid-title{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;     
  border-bottom: 1px solid #006699;
  color: #FFFFFF;     
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) )
}
/* borda do titulo*/
.x-blue .xGrid-title .xGrid-col{
  border-right: 1px solid #E1EEf4;
}

.x-blue .xGrid-content{
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #ebf1f5;
}
.x-blue .xGrid-content .xGrid-col{
  border-right: 1px solid #E1EEf4;
}
.x-blue .xGrid-content .xGrid-row{
  border-bottom: 1px solid #E1EEf4;
  background-color: #ffffff;
  height: 30px;
  font-weight: bold;
  transition: background-color 0.25s ease;

}
.x-blue .xGrid-content .xGrid-row:nth-child(odd){
  background-color: #E1EEf4;
}

.x-blue .xGrid-Selected{
  background: #058cf5;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0086C9), color-stop(1, #006CA1) );
  /*border-color:#014ab8;*/
  color:#ffffff !important;
  outline: 0;
}

/*****scrollbar*****/

.x-blue .xGrid-content::-webkit-scrollbar {
  width: 17px;
}

/* Cor do indicador de rolagem */
.x-blue .xGrid-content::-webkit-scrollbar-thumb:vertical,
.x-blue .xGrid-content::-webkit-scrollbar-thumb:horizontal {
  background: #006699;
  border: 1px solid #e1eef4;
  border-radius: 3px;
}

/* Cor do indicador de rolagem - ao passar o mouse */
.x-blue .xGrid-content::-webkit-scrollbar-thumb:vertical:hover,
.x-blue .xGrid-content::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #0174ad
}


/*--------------------x-blue---------------------------------------*/

/*--------------------x-blue-lith---------------------------------------*/
.x-blue-lith{
  color: #566579;
  border: 1px solid #b9c5ce;
  border-radius: 0px;
  /*font-size: 10px;*/
  font: normal 12px/150% Arial, Helvetica, sans-serif;
}
/* alinhamento do titulo*/
.x-blue-lith .xGrid-title .xGrid-col span{
  text-align: center;
}

/* color titulo */
.x-blue-lith .xGrid-title{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;     
  border-bottom: 1px solid #b9c5ce;
  color: #566579;    
  font-weight: bold;
  background:#ebf1f5;
}
/* borda do titulo*/
.x-blue-lith .xGrid-title .xGrid-col{
  border-right: 1px solid #b9c5ce;
}

.x-blue-lith .xGrid-content{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #f6f9fc;
}
.x-blue-lith .xGrid-content .xGrid-col{
  border-right: 1px solid #b9c5ce;
}
.x-blue-lith .xGrid-content .xGrid-row{
  border-bottom: 1px solid #b9c5ce;
  background-color: #ffffff;
  height: 30px;
  font-weight: bold;
}
.x-blue-lith .xGrid-content .xGrid-row:nth-child(odd){
  background-color: #f6f9fc;
}

.x-blue-lith .xGrid-Selected{
  background: #2c8ac4 !important;
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0086C9), color-stop(1, #006CA1) );*/
  /*border-color:#014ab8;*/
  color:#ffffff !important;
  outline: 0;
}

/*****scrollbar*****/

.x-blue-lith .xGrid-content::-webkit-scrollbar {
  width: 17px;
}

/* Cor do indicador de rolagem */
.x-blue-lith .xGrid-content::-webkit-scrollbar-thumb:vertical,
.x-blue-lith .xGrid-content::-webkit-scrollbar-thumb:horizontal {
  background: #d9e1e7;
  border: 1px solid #bbccdd;
  /*border-radius: 5px;*/
}

/* Cor do indicador de rolagem - ao passar o mouse */
.x-blue-lith .xGrid-content::-webkit-scrollbar-thumb:vertical:hover,
.x-blue-lith .xGrid-content::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #cdddec
}


/*--------------------x-blue-lith--------------------------------------*/

/*--------------------x-table--------------------------------------*/
.x-table{
  color: #566579;
  border: 1px solid #b9c5ce;
  border-radius: 2px!important;
  /*font-size: 10px;*/
  font: normal 11px/150% Arial, Helvetica, sans-serif;
}
/* alinhamento do titulo*/
.x-table .xGrid-title .xGrid-col span{
  text-align: center;
}

/* color titulo */
.x-table .xGrid-title{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;     
  border-bottom: 1px solid #fff;
  color: #747474;    
  font-weight: bold;
  background:#e0e0e0;

}
/* borda do titulo*/
.x-table .xGrid-title .xGrid-col{
  border-right: 1px solid #fff;
  padding: 0!important;
  font: normal 11px/150% Arial, Helvetica, sans-serif;

}

.x-table .xGrid-content{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #f6f9fc;
}
.x-table .xGrid-content .xGrid-col{
  border-right: 1px solid #b9c5ce;
}
.x-table .xGrid-content .xGrid-row{
  border-bottom: 1px solid #b9c5ce;
  background-color: #ffffff;
  height: 23px;
  font-weight: bold;
}
.x-table .xGrid-content .xGrid-row:nth-child(odd){
  background-color: #EEEEEE;
}

.x-table .xGrid-Selected{
  /*background: #2c8ac4 !important;*/
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0086C9), color-stop(1, #006CA1) );*/
  /*border-color:#014ab8;*/
  /*color:#ffffff !important;*/
  outline: 0;
}

/*****scrollbar*****/

.x-table .xGrid-content::-webkit-scrollbar {
  width: 17px;
}


/*--------------------x-table--------------------------------------*/




/************************ xTable **********************************/
.x-table{
  border-spacing: 0;
  margin:3px 0 5px 4px;
  padding:0px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}

.x-table tr:hover td{
  background-color: #eaf6ff !important;
}

.x-table tr:nth-child(odd){ background-color:#f2f2f2!important; }

.x-table tr:nth-child(even) { background-color:#ffffff!important; }

.x-table td{
  vertical-align:middle!important;
  border:1px solid #cbcbcb;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:3px;
  font-size:12px !important;
  font-family:Arial;
  font-weight:bold;
  color:#3d3d3d;
}

.x-table tr:last-child td{
  border-width:0px 1px 0px 0px;
}

.x-table tr td:last-child{
  border-width:0px 0px 1px 0px;
}

.x-table tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}

.x-table tr:first-child:hover td{
  background-color:#e0e0e0;
}

.x-table tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}

.x-table tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

.x-table th{
  border:1px solid #fff !important;
  font-size:10px;
  background-color:#e0e0e0 !important;
  color:#747474;
  text-align: center;
}
.x-table th:first-child{
  border-top-left-radius: 5px;
}
.x-table th:last-child{
  border-top-right-radius: 5px;
}

.xTable-load{
  background-color:rgba(0, 0, 0, 0.8);
  width: 30%;
  height: 25px;
  border-radius: 5px;
  color: #ffffff;
  position: absolute;
  text-align: center;
  padding: 15px;
  left: 50%;
  top: 50px;
  transform: translate(-40%);
  display: flex;
  align-items: center;
}